@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Tables</a>
        </li>




        <li class="active">
            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">ETL_BATCH</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="Index">ETL_BATCH_SRC</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index"> ETL_BATCH_SRC_STEP</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="Index">ETL_BATCH_STEP_CFG</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">ETL_BATCH_SRC_STEP_CFG</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="Index">ETL_BATCH_SRC_STEP_PGM</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">ETL_BATCH_SRC_STEP_PGM</a>


            <table style="width:100%;">
                <div class="container" margin-left:0;
                     font-weight: bold;
                     text-align: left;
                     style="position:relative;">


                    <span style="position:absolute;right:0;top:0">

                    </span>


                </div>
            </table>



        </li>

    </ul>

</div>
